
 

<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="onClick($event)">
      <mat-icon>favorite</mat-icon>
    </button>


 <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
    <p>{{title}}</p>
  </mat-form-field>
  <ng-template *ngIf="isVisible; then blocco1; else blocco2"></ng-template>
  <ng-template #blocco1>
    sono visibile
  </ng-template>
  <ng-template #blocco2>
    non sono visibile 
  </ng-template>
  